@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide-left {
  animation: slide-left 8s linear infinite;
}

.animate-slide-right {
  animation: slide-right 8s linear infinite;
}

.navbar {
  background-color: rgb(38 11 52);
}
